input {
  width: 200px;
  outline: none;
}

.input-style-green {
  height: 2.5rem;
  width: 10rem;
  margin: 1rem;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #4caf50;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
  outline: none;
}

.input-style-green:focus {
  border: 1px solid #555555;
}
